gray(value, opacity = 1)
	rgba(value,value,value,opacity)

bubbleHandleBg = gray(40,1)
bubbleBorder = rgba(white, 0.5)


bubbleHandle(place)

	l1 = t1 = r1 = b1 = l2 = t2 = r2 = b2 = auto
	topBorder1 = rightBorder1 = bottomBorder1 = leftBorder1 = transparent
	topBorder2 = rightBorder2 = bottomBorder2 = leftBorder2 = transparent

	if place == 'left' || 'right'
		t1 = 20px
		t2 = 21px
	else if place == 'top' || 'bottom'
		l1 = 20px
		l2 = 21px

	if place == 'left'
		l1 = -26px
		l2 = -24px
		topBorder1 = rightBorder1 = bubbleBorder
		topBorder2 = rightBorder2 = bubbleHandleBg
	else if place == 'right'
		r1 = -26px
		r2 = -24px
		leftBorder1 = topBorder1 = bubbleBorder
		leftBorder2 = topBorder2 = bubbleHandleBg


	&::before
		border-top-color: topBorder1
		border-right-color: rightBorder1
		border-bottom-color: bottomBorder1
		border-left-color: leftBorder1
		top: t1
		left: l1
		right: r1
		bottom: b1
	&::after
		border-top-color: topBorder2
		border-right-color: rightBorder2
		border-bottom-color: bottomBorder2
		border-left-color: leftBorder2
		top: t2
		left: l2
		right: r2
		bottom: b2

	&::after,
	&::before
		border-width: 12px
		content: ""
		display: block
		position: absolute
		border-style: solid


*
	border: 0px
	padding: 0px
	margin: 0px
	box-sizing: border-box
	font-size: 100%

html
	min-height: 100%
	background-image: -webkit-radial-gradient(50% 30%, rgba(black, 0.4), rgba(black, 0.8)), url("../images/bg.jpg")
	background-color: rgb(35,35,35)

body
	min-height: 100%
	font: 14px "Lucida Grande", Arial, Helvetica, sans-serif
	text-align: center
	padding-bottom: 60px

#content
	height: 100%
	width: 700px
	padding: 50px
	margin: 0 auto

h1
	font-family: "Source Sans Pro", "Times New Roman", sans-serif
	font-size: 80px
	line-height: 2
	color: rgb(150,190, 255)
	text-shadow: 0 3px 0px gray(0,0.8)

input
	border-radius: 8px
	font-size: 24px
	width: 100%
	background-color: rgba(white, 0.04)
	box-shadow: 0 1px 1px rgba(white, 0.2), inset 0 2px 2px rgba(black, 0.8)
	padding: 6px 20px
	color: rgba(white, 0.6)
	&:focus
		outline: none
		box-shadow: 0 0 8px rgba(109, 202, 255, 0.6)

a
	color: #00B7FF

.sophiasBubble,
.myBubble
	display: none
	width: 100%
	position: relative
	padding: 14px
	border: 2px solid bubbleBorder
	background-color: rgba(white, 0.04)
	margin-bottom: 20px
	border-radius: 8px
	font-size: 24px
	overflow-x: visible !important

.sophiasBubble
	font-weight: 100
	color: rgba(white, 0.6)
	bubbleHandle('left')
	q
		&:after,
		&:before
			content: ""

.myBubble
	font-weight: 900
	color: rgba(white, 0.9)
	bubbleHandle('right')